# Virtual environment
venv/
.venv/
env/
*.pyc
__pycache__/


# Database
db.sqlite3
*.sqlite3

# Environment variables
.env
*.env

# VS Code and OS files
.vscode/
.DS_Store
Thumbs.db

# Python Bytecode
*.pyc
*.pyo
*.pyd

# Logs and temporary files
logs/
*.log
